body{
    background-color: rgb(68, 131, 202);
}


section {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
}

.a {
    height: 500px;
    background-color: #f0f0f0; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 700px;
}

.a .inputs {
    display: flex;
    gap: 10px; 
    justify-content: space-around;
}

.a .button1 {
    margin-top: 20px;
}

input {
    height: 50px;
}
input:focus{
    outline: none;
 border: 4px solid orange;
}
button{
    width: 130px;
    height: 50px;
    background-color: orange;
    color: wheat;
    border: none;
    font-size: 22px;
}